<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>DaCA</h2>

        <md-button aria-label="Upload" ng-click="vm.changePage(vm.pages.UPLOAD)">
            Upload
        </md-button>

        <md-menu>
            <md-button aria-label="Datasets" ng-click="$mdMenu.open(ev)">
                <span md-menu-origin> Datasets </span>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button aria-label="Dashboard" ng-click="vm.changePage(vm.pages.DATASETS.DASHBOARD)">
                        Dashboard
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="Compare" ng-click="vm.changePage(vm.pages.DATASETS.COMPARE)">Compare</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="Match/Align" ng-click="vm.changePage(vm.pages.DATASETS.MATCH_ALIGN)">Match/Align</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button aria-label="Help" ng-click="vm.changePage(vm.pages.HELP)">Help</md-button>

        <span flex></span>
        <h3> {{vm.user.firstName}} {{vm.user.lastName}} </h3>
        <md-button aria-label="Log out!">
            <i class="material-icons">exit_to_app</i>
        </md-button>
    </div>
</md-toolbar>

<upload-dataset ng-if="vm.activePage === vm.pages.UPLOAD"></upload-dataset>
<datasets-dashboard ng-if="vm.activePage === vm.pages.DATASETS.DASHBOARD"
    on-set-individual-dataset="vm.setIndividualDataset(dataset)">
</datasets-dashboard>
<single-dataset ng-if="vm.activePage === vm.pages.DATASETS.SINGLE" dataset="vm.dataset"></single-dataset>
<compare-datasets ng-if="vm.activePage === vm.pages.DATASETS.COMPARE"></compare-datasets>
<match-align-datasets ng-if="vm.activePage === vm.pages.DATASETS.MATCH_ALIGN"></match-align-datasets>
<help ng-if="vm.activePage === vm.pages.HELP"></help>
