*.jar
.DS_Store

*.class
*.jnl

app/DaCAServices/.idea/*
app/DaCAServices/DaCACompare/.idea/*
app/DaCAServices/DaCAMatchAlign/.idea/*
app/DaCAServices/DaCASparqlProcessor/.idea/*
app/DaCAServices/DaCAStats/.idea/*
app/DaCAServices/DaCAUploader/.idea/*
app/DaCAServices/DaCAUserManagement/.idea/*
app/DaCAClients/DaCASparqlProcessorClient/.idea/*
app/DaCAWebsite/.idea/*
app/DaCAWebsite/target/*
!app/DaCAClients/DaCASparqlProcessorClient/.idea/artifacts
