#graphs,
#compare,
#matchalign {
    height: 100%;
    width: 100%;
}

#graphs md-virtual-repeat-container {
  height: 200px;
}

/*
 Dataset visualization
 */
.node {
    stroke: #fff;
    fill:#ddd;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

marker {
    stroke: #999;
    fill:rgba(124,240,10,0);
}

.node-text {
    font: 11px sans-serif;
    fill:black;
}

.link-text {
    font: 9px sans-serif;
    fill:grey;
}

svg{
    border:1px solid black;
}
